.ant-row-flex {
  padding: 0 20px 20px;
  .panel {
    height: 500px;
    background: rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
  }
  // .ant-col {
  //   height: 300px;
  //   background: rgba(0, 0, 0, 0.06);
  //   // box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.06);
  // }
}