.ant-row-flex {
  padding: 0 20px 20px;
  .ant-col {
    flex-grow: 1;
  }
  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > li {
      width: 25%;
      padding: 30px 15px 20px;
      text-align: center;
      .title {
        margin-bottom: 30px;
        font-size: 14px;
        color: #999;
      }
      .numb {
        font-size: 34px;
        font-weight: bold;
      }
    }
  }
}
