$bg: #222;
// 颜色
$primary: #2c91e4; // 主色
$default: #ffffff; // 默认
$success: #67c23a; // 成功
$danger: #f56c6c; // 危险
$warning: #e6a23c; // 警告
$info: #dddddd; // 消息

$grayDarker: #333;
$grayDark: #999;
$gray: #ccc;