.panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0;
  background-color: #fff;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .operate {
    .close {
      font-size: 20px;
      cursor: pointer;
    }
  }
}